OPENAI_API_KEY="sk-....."
OPENAI_MODEL = "ft:gpt......"
AZURE_OPENAI_API_KEY = ""
AZURE_OPENAI_ENDPOINT = "https://#######.azure.com/"
AZURE_OPENAI_API_VERSION=2025-04-01-preview
AZURE_API_VERSION=2025-04-01-preview
AZURE_BASE_MODEL=gpt-4.1
AZURE_FINETUNED_MODEL=gpt-4.1-mini
TRAINING_FILE_NAME = ""